docs/*.html linguist-detectable
docs/*/*.html linguist-detectable
docs/*/*/*.html linguist-detectable
docs/*/*/*/*.html linguist-detectable
docs/*/*/*/*/*.html linguist-detectable
docs/*.js linguist-detectable
docs/js/*/*.js linguist-detectable
docs/js/*/*/*.js linguist-detectable
docs/js/*/*/*/*.js linguist-detectable
docs/js/*/*/*/*/*.js linguist-detectable
docs/*.css linguist-detectable
docs/*/*.css linguist-detectable
docs/*/*/*.css linguist-detectable
docs/*/*/*/*.css linguist-detectable
docs/*/*/*/*/*.css linguist-detectable
/*.md linguist-detectable
LICENSE linguist-detectable
docs/*.html -linguist-documentation
docs/html5/*/*.html -linguist-documentation
docs/html5/*/*/*.html -linguist-documentation
docs/html5/*/*/*/*.html -linguist-documentation
docs/html5/*/*/*/*/*.html -linguist-documentation
docs/*.js -linguist-documentation
docs/js/*/*.js -linguist-documentation
docs/js/*/*/*.js -linguist-documentation
docs/js/*/*/*/*.js -linguist-documentation
docs/js/*/*/*/*/*.js -linguist-documentation
docs/*.css -linguist-documentation
docs/*/*.css -linguist-documentation
docs/*/*/*.css -linguist-documentation
docs/*/*/*/*.css -linguist-documentation
docs/*/*/*/*/*.css -linguist-documentation
/*.md -linguist-documentation
LICENSE -linguist-documentation
