body {
     color: rgb(255, 255, 255);
     background-color: rgb(0, 0, 102);
}

.header {
     background: url(https://raw.githubusercontent.com/PedestriaMC-Network/PedestriapediaOfficial/main/42D0546A-36B5-4B17-ABE1-04412502A0BF.png);
     background-size: 1237px, 538px;
     background-repeat: no-repeat;
}

.header h1 { 
     font-family: "Verdana"; 
     font-size: 15px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: normal;
     padding: normal;
     text-align: left;
} 

.column {
     float: left;
}
     
.column.left {
     width: 65%;
     background-color: rgb(0, 0, 102);
}

.column.right {
     width: 25%;
     background-color: rgb(51, 102, 204);
}
     
@media screen and (max-width: 600px) {
     .column.right, .column.left {
          width: 100%;
     }
}

h1 { 
     font-family: "Verdana"; 
     font-size: 37px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
} 

h2 { 
     font-family: "Verdana"; 
     font-size: 33px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
} 

h3 { 
     font-family: "Verdana"; 
     font-size: 29px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 22px;
     padding: 10px;
} 

h4 { 
     font-family: "Verdana"; 
     font-size: 25px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
} 

h5 { 
     font-family: "Verdana"; 
     font-size: 21px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

h6 { 
     font-family: "Verdana"; 
     font-size: 17px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.h7 p {
     font-family: "Verdana";
     font-size: 15px; 
     font-style: normal;
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.h8 p {
     font-family: "Verdana"; 
     font-size: 12px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;

.h9 p {
     font-family: "Verdana"; 
     font-size: 10px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.h10 p {
     font-family: "Verdana"; 
     font-size: 7px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.signature1 {
     text-indent: 35%;
}

.signature2 {
     text-indent: 55%;
}

p {
     font-family: "Verdana"; 
     font-size: 13px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
     padding: 10px;
}

blockquote { 
     font-family: "Verdana";
     font-size: 16px; 
     font-style: italic;
     font-variant: small-caps; 
     font-weight: 100;
     line-height: 24px; 
     padding: 10px;
} 

pre { 
     font-family: monospace; 
     font-size: 10px; 
     font-style: italic;
     font-variant: normal; 
     font-weight: 400; 
     line-height: 15px; 
     padding: 10px;
}

.defaultlist ul {
     list-style-type: default;
}

ul li {
     font-family: "Verdana"; 
     font-size: 13px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
     padding: 10px;
}

.defaultlist ol {
     list-style-type: default;
}

ol li {
     font-family: "Verdana"; 
     font-size: 13px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
     padding: 10px;
}

.button {
     color: rgb(255, 255, 255);
     background-color: rgb(51, 204, 255);
     display: inline-block;
     text-decoration: none;
     padding: 15px 32px;
     text-align: center;
     font-family: "Verdana"; 
     font-size: 15px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
}

.topnav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: rgb(0, 0, 102);
     color: rgb(225, 225, 225);
     font-family: "Verdana"; 
     font-size: 15px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
}

.topnav li {
     float: left;
}     

.topnav li:last-child {
     border-right: none;
}

.topnav li a, .dropbtn {
     display: block;
     color: rgb(255, 255, 255);
     text-align: center;
     padding: 0;
     text-decoration: none;
     background-color: rgb(0, 0, 102);
}

.topnav li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
     color: rgb(51, 153, 255);
     background-color: rgb(0, 0, 102);
}

.topnav li.dropdown {
     display: inline-block;
}

.topnav .dropdown-content {
     display: none;
     position: absolute;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 102);
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.topnav .dropdown-content a {
     color: rgb(255, 255, 255);
     padding: 10px;
     text-decoration: none;
     display: block;
     text-align: left;
}

.topnav .dropdown-content a:hover {
     background-color: rgb(0, 0, 102);
     color: rgb(51, 153, 255);
}

.dropdown:hover .dropdown-content {
     display: block;
}

.topnav .active {
     color: rgb(0, 0, 102);
     background-color: rgb(51, 153, 255);
}

.footercolumn {
     float: left;
     color: rgb(255, 255, 255);
     background-color: rgb(36, 36, 66);
     padding: 10px;
}
.footercolumn.one {
     width: 33.33%;
}

.footercolumn.two {
     width: 33.33%;
}

.footercolumn.three {
     width: 33.33%;
}

@media screen and (max-width: 600px) {
     .footercolumn.one, .footercolumn.two, .footercolumn.three {
          width: 100%;
     }
}

.footer .footercolumn.one a {
     text-decoration: none;
     color: rgb(255, 255, 255);
     padding: default;
}

.footer .footercolumn.two a {
     text-decoration: none;
     color: rgb(255, 255, 255);
     padding: default;
}

.footer .footercolumn.three a {
     text-decoration: none;
     color: rgb(255, 255, 255);
     padding: default;
}
