html {
     background-color: navy;
}

body {
     color: navy;
     background-color: dodgerblue;
}

.header {
     color: skyblue;
     text-align: center;
     padding: 20px;
     background-color: blue;
}

.threecolumns {
     float: left;
     width: 33.33%;
     background-color: aqua;
}

.row:after {
     content: "";
     display: table;
     clear: both;
     background-color: aqua;
}

@media screen and (max-width: 600px) {
     .threecolumns {
          width: 100%;
     }
}

.twocolumns {
     float: left;
     width: 48%;
     background-color: aqua;
}

.row:after {
     content: "";
     display: table;
     clear: both;
     background-color: aqua;
}

@media screen and (max-width: 600px) {
     .twocolumns {
          width: 100%;
     }
}

h1 { 
     font-family: "Courier New"; 
     font-size: 37px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
} 

h2 { 
     font-family: "Courier New"; 
     font-size: 33px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
} 

h3 { 
     font-family: "Courier New"; 
     font-size: 29px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 22px;
     padding: 10px;
} 

h4 { 
     font-family: "Courier New"; 
     font-size: 25px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
} 

h5 { 
     font-family: "Courier New"; 
     font-size: 21px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
} 

h6 { 
     font-family: "Courier New"; 
     font-size: 17px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
} 

.h7 p {
     font-family: "Courier New";
     font-size: 15px; 
     font-style: normal;
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.h8 p {
     font-family: "Courier New"; 
     font-size: 12px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.h9 p {
     font-family: "Courier New"; 
     font-size: 10px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.h10 p {
     font-family: "Courier New"; 
     font-size: 7px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: bold; 
     line-height: 39px;
     padding: 10px;
}

.signature1 p {
     text-align: center;
     float: left;
}

.signature2 p {
     text-align: center;
     float: right;
}

p {
     font-family: "Courier New"; 
     font-size: 13px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
     padding: 10px;
}

blockquote { 
     font-family: "Courier New";
     font-size: 16px; 
     font-style: italic;
     font-variant: small-caps; 
     font-weight: 100;
     line-height: 24px; 
     padding: 10px;
} 

pre { 
     font-family: monospace; 
     font-size: 10px; 
     font-style: italic;
     font-variant: normal; 
     font-weight: 400; 
     line-height: 15px; 
     padding: 10px;
}

ol {
     font-family: "Courier New"; 
     font-size: 13px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
     padding: 10px;
}

.button {
     color: lightblue;
     background-color: teal;
     border: 2px solid blue;
     display: inline-block;
     text-decoration: none;
     padding: 15px 32px;
     text-align: center;
     font-family: "Courier New"; 
     font-size: 15px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
}

.topnav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: darkblue;
     color: teal;
     font-family: "Courier New"; 
     font-size: 15px; 
     font-style: normal; 
     font-variant: normal; 
     font-weight: 400; 
     line-height: 16px;
}

.topnav li {
     float: left;
     border-right: 1px solid lightblue;
}     

.topnav li:last-child {
     border-right: none;
}

.topnav li a, .dropbtn {
     display: block;
     color: darkgray;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     background-color: navy;
}

.topnav li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
     color: navy;
     background-color: lightblue;
}

.topnav li.dropdown {
     display: inline-block;
}

.topnav .dropdown-content {
     display: none;
     position: absolute;
     background-color: teal;
     color: navy;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.topnav .dropdown-content a {
     color: gray;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
}

.topnav .dropdown-content a:hover {
     background-color: blue;
     color: lightblue;
}

.dropdown:hover .dropdown-content {
     display: block;
}

.topnav .active {
     color: blue;
     background-color: lightblue;
}

.footer {
     color: darkblue;
     text-align: center;
     background-color: lightblue;
     padding: 10px;
}
